#!/bin/bash

MASTER_HOST=192.168.1.17
SLAVE_HOST=192.168.1.18
MYSQL_ROOT_USER={{ mysqluser.root }}
MYSQL_ROOT_PASSWORD={{ mysqlpass.root }}
MYSQL_DATABASE={{ database }}
MYSQL_USER={{ mysqluser.user }}
MYSQL_USER_PASSWORD={{ mysqlpass.user }}

Q1="CREATE DATABASE IF NOT EXISTS $MYSQL_DATABASE;"
Q2="GRANT ALL ON $MYSQL_DATABASE.* TO '$MYSQL_USER'@'%' IDENTIFIED BY '$MYSQL_USER_PASSWORD' WITH GRANT OPTION;"
Q3="GRANT ALL ON *.* TO '$MYSQL_ROOT_USER'@'$MASTER_HOST' IDENTIFIED BY '$MYSQL_ROOT_PASSWORD' WITH GRANT OPTION;"
Q4="GRANT ALL ON *.* TO '$MYSQL_ROOT_USER'@'$SLAVE_HOST' IDENTIFIED BY '$MYSQL_ROOT_PASSWORD' WITH GRANT OPTION;"
Q5="FLUSH PRIVILEGES;"
Q6="SET GLOBAL query_cache_size = 1000000;"
SQL="${Q1}${Q2}${Q3}${Q4}${Q5}${Q6}"

mysql -u$MYSQL_ROOT_USER -p$MYSQL_ROOT_PASSWORD -e "$SQL"

#confirmation message
echo "Created database $MYSQL_DATABASE and user $MYSQL_USER_PASSWORD"
