#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
url --url="http://192.168.1.12/ks/"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=on --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$TBVsS/JThgPjpyi8$MY/6TXiQkXbwS8/A5p7uxoxJRkmdqvD1obnI97Q/n6kA9Hc02RjM2r1u5.D1Rj/ayWq3loulx0jH.6ngr3kN2.
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=hipzi --password=$6$sjbWfGbdm8nH92nI$xIMUO0UALYiZqnzUdPNg0t8Z5mD2PpEwGG6JaLuA7eq7oDrV04w150tzcS0K0aU9gZmvX1w6CQ9fc5TEsqHXp/ --iscrypted --gecos="hipzi"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel

%packages
@^minimal
@core
chrony
kexec-tools
net-tools
curl
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
yum install -y epel-release
yum install -y wget
%end

#reboot after install

